    <div class="form-field">
      <label class="form-label" [class.field-label-invalid]="invalid" [attr.for]="inputId">
        {{ label }}@if (required) { * }
      </label>

      <textarea
        #textareaElement
        class="form-control"
        [class.is-auto-grow]="autoGrow"
        [class.is-invalid]="invalid"
        [id]="inputId"
        [rows]="displayedRows"
        [formControl]="control"
        [placeholder]="placeholder"
        [attr.aria-invalid]="invalid"
        (input)="handleInput()"
      ></textarea>

      @if (errorText) {
        <div class="validation-helper">{{ errorText }}</div>
      } @else if (helperText) {
        <div class="field-helper">{{ helperText }}</div>
      }
    </div>
  
