    <div class="password-grid" [formGroup]="form">
      <app-form-input
        label="Senha atual"
        type="password"
        [control]="senhaAtualControl"
        [required]="true"
        [invalid]="hasFieldError('senha_atual')"
        [errorText]="getFieldError('senha_atual')"
      />

      <app-form-input
        label="Nova senha"
        type="password"
        [control]="novaSenhaControl"
        [required]="true"
        [invalid]="hasFieldError('nova_senha')"
        [errorText]="getFieldError('nova_senha')"
      />

      <app-form-input
        label="Confirmar nova senha"
        type="password"
        [control]="confirmacaoSenhaControl"
        [required]="true"
        [invalid]="hasFieldError('confirmacao_senha')"
        [errorText]="getFieldError('confirmacao_senha')"
      />
    </div>
  